body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    text-align: center;
    background-color: rgb(205, 255, 222);
    padding: 5vh;
}

.title{
    margin-top: -10px
}

.about{
    text-align: center;
    background-color: rgb(255, 246, 246);
    padding: 5vh;
    display: flex
}

.left{
    height: 30%;
    width: 30%;
}

.right{
    height: 70%;
    width: 70%;
}

.right p{
    text-align: left;
}

.right ul{
    text-align: left;
}

.projects{
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
}

.project{
    flex: 5;
    padding: 50px;
}

.skill{
    display: inline;
    margin-left: 5px;
    padding: 8px;
    border-radius: 25px;
    border: 2px solid;
    color: rgb(255, 255, 255);
    text-align: middle;
    text-align: center;
}

footer{
    text-align: center;
    padding: 10px;
}